.collectionPage {
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.showImg {
  top: 3%;
  padding: 1%;
  background-color: #61481cf3;
  border-radius: 40px ;
  height: 80%;
  width: 70%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
}


.CollectionLabel{
  background-color:#BF9742;
  border-radius: 40px 40px 0px 0px;
  width: 110%;
  padding: 5%;
}

.showImg .image {
  min-width: 100px;
  width: 20%;
  height: 25%;
  padding: 20px;
}

.image img{
  border-radius: 30px;
  width: 16%;
  height: auto;
}