.showImg {
  position: absolute;
  top: 10%;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.468);
  border-radius: 40px ;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-height: 86vh;
  overflow-y: auto;
}

.collectionPage {
  background-color: #8E7700;
  height: 75vh;
  max-height: 698px;
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  overflow-y: auto;
}

.showImg .image{
  width: 20%;
  height: 25%;
  padding: 20px;
}

.image img{
  border-radius: 30px;
  width: 100%;
  height: 100%;
}