header {
  width: 100vw;
  height: 10vh;
  min-height: 70px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-header .link:hover {
  font-size: 20px;
  border-radius: 10% 10% 10% 10%;
}

.left-header {
  height: inherit;
  width: 40%;
  margin-left: 10px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-header {
  width: 35%;
  min-width: 480px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.coinRemain {
  margin: 0 20px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
}

.coinRemain img {
  width:20%;
}

.coinRemain .textArea {
  width: 10em;
  background-color:#FDC314;
  height: 50px;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coinRemain .textArea p {
  font-size:20px;
  text-align: baseline;
}

.connectButton{
  margin: 0 20px;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 9999px;
  background-color: #FDC314;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

.connectButton p{
  color: black;
  margin: 0px;
}

.address{
  margin: 0 20px;
  color: white;
  width: auto;
}

.link{
  height: 60px;
  text-align: center;
  width: 20%;
  padding: 10px 0px;
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.logo{
  max-width: 65%;
}