.collectionImage img{
  margin:0rem 0;
  height:8rem;
}

.itemName{
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.description{
  color: rgb(70, 70, 70);
}

.slide{
  background-color:rgb(255, 245, 102);
  display: flex;
  justify-content: center; 
  align-items: center; 
  text-align: center;
  padding: 3% 0%;
  border-radius:30px;
  transition: 0.2s;
}

.slide:hover {
  background-color:rgb(255, 218, 97);
}

.sliderContainer{
  width: 78%;
  height: auto;
  margin-bottom: 3%;
}