.marketArea{
    align-items: center;
}

.heading{
    margin: 0;
    text-align: center;
    padding: 30px;
    font-size: 3.5rem;
    color:var(--black);
}

.market-box-container{
    margin: 5vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 1rem;
}

.market-box{
    padding: 1rem 1rem;
    border-radius: .3rem;
    background:rgba(233, 244, 111, 0.729);
    box-shadow: var(--box-shadow);
    outline:var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

.market-box:hover{
    outline:var(--outline-hover);
    outline-offset: 0rem;
}

.market-box img{
    margin:0rem 0;
    height:8rem;
}

.market-box h3{
   font-size: 2rem;
   color:var(--black);
   line-height: 0.3;
}

.market-box p{
    font-size: 1.7rem;
    color:var(--light-color);
    line-height: 1.8;
}

.market-btn{
    display: inline-block;
    padding:.8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border:.2rem solid var(--black);
    color:var(--black);
    cursor: pointer;
    background: none;
}

.market-btn:hover{
    background: var(--orange);
    color:#fff;
}