.box{
  position: relative;
}

.mintArea{
  margin: auto 10%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
}

.mintArea img{
  max-width: 450px;
  width: 80%;
  margin: 2em auto;
}

.mintArea h1{
  margin: 10px 0;
}

.mintButton{
  margin: 5%;
  width: 80%;
  height: 84px;
  border-radius: 3%;
  border: none;
  background-color: #873E15;
  color: white;
  font-weight: 700;
  font-size: 24px;
}

.mintButton:hover{
  background-color: #825941;
  font-size: 30px;
}

.mintButton p {
  color: white;
  font-weight: 700;
  font-size: 24px;
}


.component{
  margin: 30px;
  min-width: 300px;
  max-width: 500px;
  color: white;
  background-color: black;
  border-radius: 40px;
  width:40%;
  text-align: center;
}

.token {
  margin: 30px;
  min-width: 300px;
  max-width: 500px;

  color: white;
  background-color: black;
  border-radius: 40px;
  width:40%;
  text-align: center;
}