
.infoContainer{
  background-color: rgba(244, 117, 33, 0.9);
  position: absolute;
  width: 75%;
  height: 85%;
  top: 50%;
  left: 50%;
  padding: 3%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.infoImage{
  position: relative;
  background-color: rgb(255, 255, 255);
  width: 30%;
  height: 70%;
  padding: 10px;
  padding-right: 15px;
  border-radius: 50px;
  color: rgb(47, 47, 47);
  text-align: center;
}


.infoImage img{
  overflow: hidden;
  position: relative;
  top: 0%;
  left: 0%;
  width: 100%;
  height:auto
}

.infoText{
  position: relative;
  background-color: rgba(220, 91, 10, 0.973);
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius:30px;
}

.inner{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner p{
  font-weight: bold;
  font-size: 24px;
  margin: 10px;
}

.inner h1{
  font-size: 40px;
}

.operateButton{
  border: none;
  border-radius: 30px;
  background-color: #873E15;
  color: white;
  padding: 15px 200px;
  font-size: 24px;
  font-family: "Inter";
  font-style: normal;
  text-transform: uppercase;
  margin-top: 20px;
}

.operateButton:hover{
  background-color: #825941;
}

.componentList{
  padding-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}