.tabs {
  width: 100%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: 0px, auto;
  justify-content: center;
}

.tabs input[type="radio"] {
  display: none;
}

.BtnGroup {
  margin: 10px;
}

.defaultTab {
  margin: 0 5px;
  margin-bottom: 10px;
  width: auto;
  height: 35px;
  padding: 5px 30px;
  background-color: #873E15;
  font-size: 15px;
  font-weight: bold;
  color: white;
  align-items: center;
  border-radius: 30px;
}

.selectedTab {
  margin: 0 5px;
  width: auto;
  height: 35px;
  padding: 5px 30px;
  background-color: #331301;
  font-size: 15px;
  font-weight: bold;
  color: white;
  align-items: center;
  border-radius: 30px
}

/* .tabs label:hover{
  background-color: #825941;
} */

.tabs .tabsContent {
  width: 100%;
  height: 100%;
  background-color: #ffecb5;
  border: rgb(255, 219, 99) solid 5px;
  padding: 10px;
  order: 1;
  display: none;
  border-radius: 5px;
  overflow-y: auto;
}

.tabs input[type="radio"]:checked+label+.tabsContent {
  display: block;
}

.inner {
  margin-top: 20px;
}

.itemList {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.itemInfo {
  margin: 5px 20px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(48, 47, 47);
  font-weight: bold;
}

.itemInfo img {
  width: auto;
  height: 130%;
}

.itemInfo .itemImg {
  width: auto;
  height: 80%;
}

.itemInfo .itemInfoName {
  text-align: justify ;
  display: inline;
  margin: auto;
  width: 50%;
}

.itemInfo .itemInfoAmount {
  text-align: center ;
  display: inline;
  margin: auto;
  width: 50%;
  
}