.tabs{
  width: 100%;
  height: 75%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin: 0px, auto;
  padding-bottom: 7%;
}

.tabs input[type="radio"]{
  display: none;
}

.defaultTab{
  height: 5%;
  width: auto;
  padding: 30px;
  background-color: #873E15;
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin-right: 3px;
  border-radius: 30px 30px 0px 0px;
}
.selectedTab {
  padding: 20px;
  background-color: #331301;
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-right: 3px;
  border-radius: 30px 30px 0px 0px;
}

.tabs label:hover{
  background-color: #825941;;
}

.tabs .tabsContent{
  width: 100%;
  height: 120%;
  background-color: #FDC314;
  padding: 10px;
  order: 1;
  display: none;
  border-radius:5px;
}

.tabs input[type="radio"]:checked+label+.tabsContent {
  display: block;
}

.itemList{
  width: 100%;
  height: 100%;
  background-color: rgba(236, 231, 231, 0.512);
  display: flex;  
  align-items: center;
  flex-wrap: wrap;
  padding-top:3%
}

.itemInfo{
  margin: 0px 20px;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.itemInfo img{
  width: auto;
  height: 100%;
}

.itemInfo p{
  color: rgb(47, 47, 47);
  font-weight: bold;
  font-size: 40px;
}
